<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${post.title}"></title>
</head>
<body>
    <div class="posts-container">

        <a th:href="@{'/'}">Home</a>

        <div class="post">
            <h2 th:text="${post.title}" class="text-center">Title</h2>
            <h5 th:text="'Written by  '+ ${post.account.firstName}">Account First Name</h5>
            <h5 th:text="'Created on ' + ${post.createdAt}" class="text-muted">Created At</h5>
            <p th:text="${post.body}">body text</p>
        </div>
    </div>
</body>
</html>