<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog :: Register</title>
</head>
<body>
<div class="container">
    <h1>Spring Boot Blog Application</h1>
    <hr>
    <form action="#" th:action="@{/register}" th:object="${account}"  method="post">
        <div>
            <label for="first-name">Email</label>
            <input type="text" id="first-name" th:field="*{firstName}" placeholder="First names">
        </div>
        <div>
            <label for="last-name">Email</label>
            <input type="text" id="last-name" th:field="*{lastName}" placeholder="Last names">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" th:field="*{email}" placeholder="you@email.com">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" placeholder="yourpassword">
        </div>
        <input type="submit" value="Register!">
    </form>
</div>
</body>
</html>